@media only screen {
	.about{
		margin-top: 140px;
	}
	.about-content{
		max-width: $os_breakpoint;
		margin: 20px auto 80px auto;
		position: relative;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
