@media only screen {
	.archive-header{
		margin-top: 110px;
	}
}

@media only screen and (min-width: $medium){
	.archive-header{
		margin-top: 140px;
	}
}

@media only screen and (min-width: $large){
	.archive-header{
		margin-top: 110px;
	}	
}
