@media only screen {
	.bloggrid{
		text-align: center;
		position: relative;
		margin: 60px auto;
		padding: 0 20px;
		box-sizing: border-box;
		max-width: $os_breakpoint;
		* {
			color: $headergrey;
		}
		iframe{
			margin: 20px 0;
			max-width: 100%;
		}
	}
	.bloggrid-item:not(:last-child){
		margin-bottom: 80px;
	}
	.bloggrid-item-authorcontainer{
		display: none;
	}
	.bloggrid-item-authorcontainer-author-image{
		width: 100%;
		height: auto;
	}
	.bloggrid-item-authorcontainer-author-description{
		@include font-size(15);
		line-height: 24px;
		padding-top: 30px;
		margin-top: 40px;
		border-top: 3px solid $textgrey;
	}
	.bloggrid-item-postcontainer{
		max-width: 641px;
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));
	}
	.bloggrid-item-postcontainer-post-image{
		max-width: 100%;
		max-height: 100%;
		height: auto;
		width: auto;
		margin-bottom: 10px;
	}
	.bloggrid-item-postcontainer-post-date{
		@include font-size(18);
		font-weight: 400;
		padding-bottom: 20px;
	}
	.bloggrid-item-postcontainer-post-header{
		text-decoration: none;
		font-weight: 700;
		@include font-size(32);
	}
	.bloggrid-item-postcontainer-post-author{
		@include font-size(18);
		line-height: 24px;
		font-weight: 400;
		padding: 20px 0 15px 0;
	}
	.bloggrid-item-postcontainer-post-social-link{
		@include font-size(14);
		margin-right: 10px;
		display: inline-block;
		text-decoration: none;
	}
	.bloggrid-item-postcontainer-post-social-link-icon{
		pointer-events: none;
	}
	.bloggrid-item-postcontainer-post-content{
		@include font-size(18);
		line-height: 26px;
		font-weight: 200;
		text-align: left;
		.wp-caption{
			max-width: 100%;
		}
		.wp-caption-text{
			@include font-size(13);
			line-height: 17px;
			color: #87898C;
			margin-top: 24px;
		}
		img{
			max-width: 100%;
			margin: 20px 0;
			display: block;
			height: auto;
		}
		p{
			padding-bottom: 20px;
		}
	}
	.bloggrid-item-postcontainer-post-elipsis{
		@include font-size(48);
		text-decoration: none;
	}
	.bloggrid-artistblurb-imagecontainer{
		margin-bottom: 10px;
	}
	.bloggrid-artistblurb-imagecontainer-image{
		width: 100%;
	}
	.bloggrid-item-postcontainer-post-share{
		margin: 20px 0;
	}
	.bloggrid-item-postcontainer-post-share-link{
		text-decoration: none;
		padding-right: 10px;
		@include font-size(16);
	}
	.bloggrid-item-postcontainer-post-tags{
		margin: 20px 0 40px 0;
	}
	.bloggrid-item-postcontainer-post-tags-tag{
		text-decoration: none;
		padding: 8px;
		background-color: lightgrey;
		margin: 0 5px;
		@include font-size(12);
		letter-spacing: 1px;
		border-radius: 3px;
	}
}

@media only screen and (min-width: $medium){
	.bloggrid{
		margin: 120px auto 60px auto;
		padding: 0 40px;
	}
	.bloggrid-item:not(:last-child){
		margin-bottom: 120px;
	}
	.bloggrid-artistblurb{
		font-size: 0;
	}
	.bloggrid-artistblurb-imagecontainer{
		margin-bottom: 0px;
		padding-right: 10px;
	}
	.bloggrid-artistblurb-blurbcontainer{
		padding-left: 10px;
		text-align: left;
	}
	.bloggrid-artistblurb-imagecontainer,
	.bloggrid-artistblurb-blurbcontainer{
		width: 50%;
		display: inline-block;
		vertical-align: middle;
		@include font-size(16);
	}
}

@media only screen and (min-width: $large){
	.bloggrid-item{
		font-size: 0;
		max-width: $os_breakpoint;
		margin: 0 auto;
		&:not(:last-child){
			margin-bottom: 160px;
		}
	}
	.bloggrid-item-authorcontainer,
	.bloggrid-item-postcontainer{
		display: inline-block;
		vertical-align: top;
	}
	.bloggrid-item-authorcontainer{
		width: 25%;
		text-align: left;
	}
	.bloggrid-item-postcontainer{
		width: 75%;
		text-align: left;
		padding-left: 80px;
		left: 0%;
		@include transform(translateX(0%));
		&.noauthor{
			width: 100%;
			margin-right: 0;
			padding-left: 0;
			max-width: none;
		}
	}
	.bloggrid-item-postcontainer-post-header{
		@include font-size(40);
	}
	.singlepost{
		.bloggrid-item-authorcontainer{
			display: none;
		}
		.bloggrid-item-postcontainer{
			width: 100%;
			margin-right: 0px;
			padding-left: 0px;
			max-width: none;
		}
		.bloggrid-item-postcontainer-post-header{
			@include font-size(48);
		}
		.bloggrid-item-postcontainer-post-author{
			padding-bottom: 60px;
		}
	}
}
