@media only screen {
	.calendar{
		margin-top: 40px;
	}
	@keyframes spin{
		0% {
		    -webkit-transform: rotate(0deg);
		    transform: rotate(0deg);
		}
		100% {
		    -webkit-transform: rotate(360deg);
		    transform: rotate(360deg);
	    }
	}
	.calendar-widgetcontainer{
		text-align: center;
		margin-bottom: 40px;
	}
	.calendar-widgetcontainer-widget{
		display: inline-block;
	}
	.calendar-widgetcontainer-widget td.clickable{
		cursor: pointer;
	}
	.calendar-grid-loading{
		text-align: center;
	}
	.calendar-grid-loading-icon{
		animation: spin 1s infinite linear;
		color: $momared;
		@include font-size(48);
	}	
	.calendar-grid-item-header a{
		color: $bluegrey;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.calendar{
		margin-top: 60px;
	}
}

