@media only screen {
	.em-calnav,
	table.em-calendar td.eventful a{
		color: $momared;
	}
	.events{
		margin-top: 100px;
	}
	.events-grid-item{
		margin-bottom: 60px;
		width: 100%;
		font-size: 0;
	}
	.events-grid-item-datetime{
		display: none;
	}
	.events-grid-item-content-title{
		@include font-size(30);
		display: block;
		text-decoration: none;
	}
	.events-grid-item-content-cats{
		@include font-size(16);
		margin-top: 10px;
	}
	.events-grid-item-content-address{
		@include font-size(14);
		display: block;
		margin-top: 10px;
	}
	.events-grid-item-content-timerange{
		margin-top: 5px;
		@include font-size(16);
	}
	.events-grid-item-content-notes{
		font-weight: bold;
		margin: 5px 0;
		@include font-size(16);
	}
	.events-grid-item-content-facebook,
	.events-grid-item-content-ical{
		display: block;
		margin: 5px 0;
		@include font-size(16);
	}
	.events-grid-item-content-facebook{
		margin-top: 15px;
	}
	.events-grid-item-content-featuredimage{
		display: block;
		max-width: 100%;
		margin-top: 20px;
	}
	.events-grid-item-content-content{
		@include font-size(16);
		margin-top: 20px;
		line-height: 1.5;
	}
	.events-seemore{
		@include font-size(15);
		text-transform: uppercase;
		font-weight: bold;
		padding: 10px 20px;
		border: 2px solid black;
		display: inline-block;
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));
		cursor: pointer;
	}
	.events-sidebar-link{
		@include font-size(20);
		color: $momared;
		text-align: center;
		display: block;
		width: 100%;
		margin-top: 20px;
	}
	ul.event-categories{
		list-style: none;
		li{
			display: inline-block;
			margin-right: 10px;
		}
	}
}

@media only screen and (min-width: $medium){
	.events-grid-item-content,
	.events-grid-item-datetime{
		display: inline-block;
		vertical-align: top;
	}
	.events-grid-item-datetime{
		width: 25%;
		text-align: center;
	}
	.events-grid-item-datetime-badge{
		border: 2px solid black;
		border-radius: 20px;
		text-align: center;
		display: inline-block;
		padding: 20px;
	}
	.events-grid-item-datetime-badge-startday{
		@include font-size(24);
	}
	.events-grid-item-datetime-badge-starttime{
		@include font-size(24);
	}
	.events-grid-item-content{
		width: 75%;
	}
}

@media only screen and (min-width: $large){
	.events{
		width: 100%;
		font-size: 0;
	}
	.events-sidebar,
	.events-grid{
		display: inline-block;
		vertical-align: top;
	}
	.events-sidebar{
		width: 25%;
		@include font-size(16);
	}
	.events-grid{
		width: 75%;
	}
}
