@media only screen {
	.eventsingle{
		margin: 80px auto 0 auto;
		padding: 20px;
		max-width: $medium;
		a{
			color: $headergrey;
		}
	}
	.eventsingle-title{
		@include font-size(32);
		font-weight: 700;
		text-align: center;
		margin: 80px 0 20px 0;
	}
	.eventsingle-social{
		text-align: center;
	}
	.eventsingle-social-link{
		text-decoration: none;
		margin: 0px 5px;
	}
	.eventsingle-cats{
		text-align: center;
		margin: 40px 0;
	}
	.eventsingle-date{
		text-align: center;
		margin-bottom: 20px;
		font-weight: bold;
	}
	.eventsingle-notes{
		margin: 20px 0;
		font-weight: bold;
	}
	.eventsingle-location{
		text-align: center;
		display: block;
	}
	.eventsingle-content{
		margin: 40px 0;
		text-align: center;
		line-height: 26px;
		@include font-size(18);
		p{
			margin: 10px 0;
		}
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.eventsingle-title{
		@include font-size(68);
	}
	.eventsingle-title,
	.eventsingle-social,
	.eventsingle-cats,
	.eventsingle-date,
	.eventsingle-location,
	.eventsingle-content{
		text-align: left;
	}
}
