@media only screen {
	.footer-sponsor{
		max-width: 320px;
		width: 100%;
		height: auto;
		margin-bottom: 40px;
	}
	.footer-creditjoin-credit{
		margin-bottom: 40px;
	}
	.footer-creditjoin-join-button{
		display: inline-block;
		border: 2px solid black;
		font-weight: bold;
		text-transform: uppercase;
		padding: 10px 20px;
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));
		margin-bottom: 40px;
		cursor: pointer;
	}
	.footer-creditjoin-join-signup{
		display: none;	
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		z-index: 300;
		background-color: rgba(255,255,255,0.6);
	}
	.footer-creditjoin-join-signup-wrapper{
		position: relative;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		background-color: white;
		padding: 20px;
		width: calc(100vw - 60px);
		max-width: 400px;
		box-shadow: 0px 7px 22px rgba(0,0,0,0.35);
	}
	.footer-creditjoin-join-signup-wrapper-close{
		@include font-size(22);
		position: absolute;
		top: -15px;
		right: -15px;
		background-color: white;
		color: #333;
		border-radius: 100px;
		padding: 3px;
		border: 2px solid lightgrey;
		cursor: pointer;
	}
	#sfmoma_ns-messages{
		text-align: center;
	}
	.footer-creditjoin-join-signup-wrapper-form-input{
		display: block;
		margin: 10px auto;
		@include font-size(14);
		padding: 10px;
		width: 100%;
		box-sizing: border-box;
		border: 2px solid lightgrey;
		outline-color: $momared;
		&[type="submit"]{
			background-color: black;
			text-transform: uppercase;
			font-weight: bold;
			color: white;
			letter-spacing: 2px;
			border: 2px solid black;
			cursor: pointer;
		}
	}
	.footer-sitemap{
		text-align: center;
	}
	.footer-sitemap-pipe{
		&.n2{
			display: none;
		}
	}
	.footer-sitemap-copyright{
		display: block;
		margin: 10px 0;
	}
	.footer-sitemap-link{
		color: $momared;
		&:visited{
			color: darken($momared, 50%);
		}
	}
}

@media only screen and (min-width: $medium){
	.footer-creditjoin{
		font-size: 0;
	}
	.footer-creditjoin-credit,
	.footer-creditjoin-join{
		display: inline-block;
		width: 50%;
		@include font-size(16);
		vertical-align: middle;
	}
	.footer-sitemap{
		font-size: 0;
		text-align: left;
		*{
			display: inline-block;
			@include font-size(14);
			vertical-align: middle;		
		}
	}
	.footer-sitemap-pipe{
		padding: 0 10px;
		&.n2{
			display: inline-block;
		}
	}
	.footer-sitemap-link.rss{
		float: right;
	    margin-top: 10px;
	}
}

@media only screen and (min-width: $large){
	.footer{
		padding-left: 40px;
		padding-right: 40px;
		max-width: 1400px;
	}
}
