@media only screen {
	.dahuhours{
		border-spacing: 3px;
		max-width: 100%;
		overflow-x: scroll;
		display: block;
		thead td{
			font-weight: bold;
		}
		td{
			min-width: 80px;
			background-color: #eaeaea;
			padding: 10px;
		}
	}
	.general{
		max-width: 684px;
		margin: 0px auto 60px auto;
		position: relative;
		padding-top: 120px;
		h1{
			margin: 20px 0 10px 0;
		}
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.dahuhours{
		td{
			min-width: 115px;
		}
	}
	.general{
		padding-top: 170px;
	}
}
