@media only screen {
	.blog,
	.projects{
		min-height: calc(100vh - 182px);
	}
	.grid{
		text-align: center;
	}
	.grid-item{
		margin: 20px 0;
		padding: 40px 20px;
		min-height: 182px;
		color: white;
		position: relative;
		text-align: center;
		display: block;
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		&.noimage{
			background-size: 200px auto;
			background-repeat: repeat;
			background-color: #eeeeee;
			background-position: 0% 0%;
			.grid-item-tint{
				background-color: rgba(0,0,0,0.2);
			}
		}
	}
	.grid-item-tint{
		@include gradient-vertical(rgba(0,0,0,0.5), rgba(0,0,0,0));
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
	.grid-item-caption{
		display: inline-block;
		position: absolute;
		vertical-align: bottom;
		z-index: 10;
		pointer-events: none;
		text-align: left;
		left: 20px;
		top: 20px;
		@include font-size(24);
	}
	.grid-item-caption-sitename{
		font-weight: 900;
	}
	.grid-item-description{
		@include font-size(20);
		text-decoration: none;
		position: absolute;
		bottom: -60%;
		text-align: left;
		right: 0px;
		padding: 30px 20px;
		line-height: 1.5;
		z-index: 1;
		opacity: 0;
		@include transition(bottom 0.4s ease, opacity 0.4s ease);
	}
}

@media only screen and (min-width: $medium){
	.grid{
		margin: 0 -20px;
		font-size: 0;
	}
	.grid-item{
		width: calc(50% - 40px);
		margin: 20px;
		display: inline-block;
		min-height: 400px;
	}
	.grid-item-caption-sitename{
		@include font-size(50);
		margin-bottom: 10px;
	}
}

@media only screen and (min-width: $large){
	.grid-item{
		&:hover{
			.grid-item-description{
				bottom: 0%;
				opacity: 1;
			}
		}
	}
	.grid-item-description{
		width: 100%;
	}
	.grid-item-caption-sitename{
		letter-spacing: 2px;
	}
}

@media only screen and (min-width: $xlarge){
	.grid-item{
		width: calc(100% / 3 - 40px);
	}
}










