@media only screen {
	.homespacer{

	}
	.homespacer-spacer{
		width: 100vw;
		height: 100vh;
	}
	.homespacer-descriptioncontainer{
		width: 100vw;
		padding: 80px 40px;
		bottom: 0;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.homespacer-descriptioncontainer-description{
		color: white;
		@include font-size(20);
		position: relative;
		left: 50%;
		max-width: 540px;
		@include transform(translateX(-50%));
		text-align: center;
		line-height: 1.7;
	}
}

@media only screen and (min-width: $medium){
	.homespacer-descriptioncontainer{
		padding: 120px 40px;
	}
}

@media only screen and (min-width: $large){
	.homespacer-descriptioncontainer{
		padding: 160px 40px;
	}
	.homespacer-descriptioncontainer-description{
		width: 33%;
		@include font-size(25);
		@include transform(translateX(0%));
		text-align: left;
	}
}
