@media only screen {
	.homehero{
		width: 100vw;
		height: 100vh;
		position: relative;
	}
	.projectsite .homehero-tint{
		display: none;
	}
	.homehero-title{
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 15;
	}
	.homehero-title-top,
	.homehero-title-bottom{
		width: 100vw;
		height: 35vh;
	}
	.homehero-title-middle{
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;  
		background-repeat: no-repeat;
		background-position: center center;
		width: 100vw;
		height: 30vh;
		z-index: 15;
	}
	.homehero-bgslider{
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		position: fixed;
		z-index: -10;
	}
	.homehero-bgslider-item{
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		position: absolute;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		&:nth-child(1){
			z-index: 7;
		}
		&:nth-child(2){
			z-index: 6;
		}
	}
	.homehero-bgslider-item-header{
		@include font-size(48);
		color: white;
		@include centerer;
		font-weight: 900;
		z-index: 5;
		width: 100%;
		text-align: center;
	}
	.homehero-bgslider-item-tint{
		background-color: rgba(0,0,0,0.5);
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
	}
	.homehero-arrow{
		position: absolute;
		bottom: 20px;
		left: 50%;
		@include transform(translateX(-50%));
		color: white;
		@include font-size(94);
		cursor: pointer;
		z-index: 75;
	}
}

@media only screen and (min-width: $medium){
	.homehero-bgslider-item-header{
		@include font-size(72);
	}
}

@media only screen and (min-width: $large){
	.homehero-bgslider-item-header{
		@include font-size(180);
	}
}