@media only screen {
	.inpagenav{
	    padding: 10px 20px 0px 20px;
		@include transition(background-color 0.2s ease);
		&.dummy{
			display: none;
			opacity: 0;
		}
		~.wysiwyg{
			padding-top: 0px;
		}
		&.inpagenav--active{
			background-color: $offwhite;
		    border-bottom: 1px solid lightgrey;
		    position: fixed;
		    top: 0;
		    left: 0;
		    width: 100%;
		    margin-top: 0px;
		    z-index: 20;
		    ~.dummy{
		    	display: block;
		    }
			.inpagenav-headercontainer-header{
				opacity: 1;
			}
			// &.hasnohero{
			// 	padding-top: 0px;
			// }
		}
		// &.hasnohero{
		// 	padding-top: 80px;
		// }
	}
	.inpagenav-headercontainer{
		max-width: 1320px;
		margin: 0 auto;
	}
	.inpagenav-headercontainer-header{
		opacity: 0;
		padding-bottom: 10px;
		font-weight: 600;
		color: $darkgrey;
		@include transition(opacity 0.2s ease);
	}
	.inpagenav-menu{
		margin-bottom: 20px;
		font-size: 0px;
		max-width: 1320px;
		margin: 0 auto;
	}
	.inpagenav-menu-item{
		display: inline-block;
		margin: 9px 0;
		margin-right: 24px;
		text-decoration: none;
		@include font-size(18);
		color: $momared;
		@include transition(color 0.4s ease);
		&:hover{
			color: darken($momared, 30%);
		}
	}
}

@media only screen and (min-width: $medium){
	.inpagenav{
		display: block;
	    position: relative;
	    border-bottom: 1px solid transparent;
	}
	.singlepost .inpagenav.inpagenav--active,
	.primarysite.primarypage .inpagenav.inpagenav--active{
		top: 0px !important;
	}
	.inpagenav-menu-item.backtotop{
		float: right;
	}
}

@media only screen and (min-width: $large){
	
}
@media only screen and (min-width: $xlarge){
	
}