@media only screen {
	.nav{
		@include transition(background-color $navTransitionSpeed ease);
		path{
			@include transition(fill $navTransitionSpeed ease);
		}
		.nav-wrapper-items-right-menu-item,
		.nav-wrapper-items-right-searchicon{
			@include transition(color $navTransitionSpeed ease);
		}
		position: fixed;
		top: 0;
		left: 0;
		z-index: 200;
		width: 100%;
	}
	.hastint{
		.nav{
			path{
				fill: white;
			}
			.nav-wrapper-items-right-menu-item,
			.nav-wrapper-items-right-searchicon,
			.nav-wrapper-items-right-projectitle{
				color: white;
				opacity: 1;
			}
			.nav-mobile-hamburger{
				color: white;
			}
		}
		.nav-wrapper-items-left-link--mobile img{
			@include filter(invert, 100%);
		}
	}
	.primarysite{
		.nav-wrapper-items-right-social-link{
			color: black;
		}
		.nav--belowhero{
			background-color: white;
			path{
				fill: grey;
			}
			.nav-wrapper-items-right-menu-item,
			.nav-wrapper-items-right-searchicon,
			.nav-wrapper-items-right-projectitle,
			.nav-wrapper-items-right-social-link{
				color: black;
				opacity: 1;
			}
			.nav-mobile-hamburger{
				color: black;
			}
		}	
	}
	.nav--belowhero{
		background-color: white;
		path{
			fill: grey;
		}
		.nav-wrapper-items-right-menu-item,
		.nav-wrapper-items-right-searchicon,
		.nav-wrapper-items-right-projectitle{
			color: grey;
			opacity: 1;
		}
		.nav-mobile-hamburger{
			color: black;
		}
	}
	.nav-wrapper{
		display: none;
		position: fixed;
		padding: 50px;
		width: 100vw;
		height: 100vh;
		z-index: 100;
		top: 0;
		left: 0;
	}

	.nav-wrapper-items{
		@include centerer;
		z-index: 100;
		width: 100%;
		padding: 0 40px;
	}
	.nav-wrapper-items-left-link,
	.nav-wrapper-items-left-link-logo{
		text-decoration: none;
		max-width: 420px;
		width: 100%;
		margin-bottom: 10px;
		display: none;
	}
	.nav-wrapper-items-right-projectitle{
		display: none;
		text-decoration: none;
	}
	.nav-wrapper-items-right-menu-item{
		display: block;
		color: black;
		text-decoration: none;
		@include font-size(24);
		font-weight: 600;
		padding: 5px 0;
	}
	.nav-wrapper-items-right-searchicon{
		cursor: pointer;
		margin-top: 30px;
		color: black;	
		display: inline-block;
		&:before{
			@include font-size(96);
		}
	}
	.nav-wrapper-items-right-social{
		margin: 30px auto 0px auto;
	}
	.nav-wrapper-items-right-social-link{
		text-decoration: none;
		color: white;
		font-size: 4rem;
		padding: 0 7.5px;
		display: inline-block;
	}
	.nav-wrapper-tint{
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 90;
		background-color: rgba(220,220,220,0.9);
	}
	.nav-mobile{
		padding: 20px;
		text-align: right;
		position: relative;
		z-index: 200;
		width: 100%;
		height: 80px;
	}
	.nav-mobile-home{
		display: inline-block;
		position: absolute;
		left: 20px;
		opacity: 1;
		@include transition(opacity 0.4s ease);
	}
	.nav-mobile-home-logo{
		path{
			fill: white;
		}
	}
	.nav-wrapper--visible{
		&~.nav-mobile .nav-mobile-home{
			opacity: 0;
		}
	}
	.nav-mobile--sticky{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(white,0.9);
		border-bottom: 1px solid darken(white, 10%);
		~.nav-mobiledummy{
			height: 76px;
		}
	}
	.nav-mobile-hamburger{
		@include font-size(36);
		color: white;
		position: absolute;
		right: 20px;
		@include transition(color 0.5s ease);
		&.sficon-close{
			color: black;
		}
	}
	.nav-wrapper-items-left-link--mobile{
		img{
			width: 100%;
		}
	}
}

@media only screen and (min-width: $medium){
	.nav-mobile{
		padding: 20px 40px;
	}
}

@media only screen and (min-width: $large){
	.nav-mobile{
		display: none;
	}
	.nav{
		position: fixed;
		width: 100%;
		z-index: 100;
	}
	.nav-wrapper{
		display: block;
	    width: 100%;
	    height: auto;
	    position: relative;
	    max-width: 1400px;
	    margin: 0 auto;
	}
	.nav-wrapper-tint{
		background-color: transparent;
		border-bottom: 1px solid transparent;
	}	
	.nav-wrapper--belowhero{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		.nav-wrapper-tint{
			position: fixed;
			left: 0;
			background-color: rgba(white,0.95);
			border-bottom: 1px solid darken(white, 10%);
		}
	}
	.nav-wrapper-items{
		font-size: 0;
	}
	.nav-wrapper-items-left{
		display: inline-block;
		width: 20%;
		font-size: 0;
		vertical-align: middle;
	}
	.nav-wrapper-items-left-link,
	.nav-wrapper-items-left-link-logo{
		display: inline-block;
		max-width: none;
		max-height: 40px;
		width: auto;
		margin-bottom: 0;
		margin-right: 40px;
		vertical-align: middle;
	}
	.nav-wrapper-items-left-link{
		width: 40%;
	}
	.nav-wrapper-items-left-link--mobile{
		display: none;
	}
	.nav-wrapper-items-right-projectitle{
		display: inline-block;
		@include font-size(28);
		font-weight: 400;
		vertical-align: middle;
		margin-right: 0px;
		color: white;
		position: absolute;
		left: 50%;
		@include transform(translateX(-50%));
	}
	.nav-wrapper-items-right-social{
		display: inline-block;
		margin: 0;
		margin-left: 40px;
		vertical-align: middle;
	}
	.nav-wrapper-items-right-social-link{
		@include font-size(20);
	}
	.primarysite{
		.nav-wrapper-items-right-social-link{
			color: white;
		}
	}
	.nav-wrapper-items-right-searchicon{
		position: relative;
		margin-left: 20px;
		margin-top: 0px;
		left: 0px;
		bottom: 1px;
		left: inherit;
		color: white;
		vertical-align: middle;
		&:before{
			@include font-size(23);	
		}
	}
	.win .nav-wrapper-items-right-searchicon{
		bottom: 4px;
	}
	.nav-wrapper-items-left-link-logo-path{
		fill: white;
	}
	.nav-wrapper-items-right-menu{
		display: inline-block;
		vertical-align: middle;
	}
	.nav-wrapper-items-right-menu-item{
		display: inline-block;
		@include font-size(20);
		font-weight: 500;
		padding: 5px 20px;
		color: white;
	}
	.nav-wrapper-items-right{
		display: inline-block;
	    width: 80%;
	    vertical-align: middle;
	    text-align: right;	
	}
	.nav-wrapper-tint{
		height: 80px;
		// left: calc(calc(100vw - 1400px) / -2);
		background-color: transparent;
		border-bottom: 1px solid transparent;

		@include transition(background-color 0.25s ease, border-color 0.25s ease);
	}
}

@media only screen and (min-width: 1400px){
	.nav-wrapper--sticky{
		margin: 0px calc(calc(100vw - 1400px) / 2);
	}
}
















