@media only screen {
	.search{
		min-height: calc(100vh - 182px);
		position: relative;
	}
	.search-noresults{
		@include centerer;
		@include font-size(36);
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
