@media only screen {
	.searchform{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 200;
		display: none;
	}
	.searchform-wrapper{
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%,-50%));
		z-index: 10;
		width: 100%;
		max-width: 1400px;
		padding: 0 40px;
		box-sizing: border-box;
	}
	.searchform-tint{
		background-color: transparentize($momared, 0.1);
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
	.searchform-closewrapper{
		z-index: 200;
		position: fixed;
		width: 100%;
		max-width: 1400px;
		text-align: right;
		left: 50%;
		@include transform(translateX(-50%));
		padding: 10px 40px;
		box-sizing: border-box;
	}
	.searchform-closewrapper-close{
		color: white;
	    @include font-size(36);
	    cursor: pointer;
	    position: relative;
	    left: 20px;
	    top: 10px;
	}
	.searchform-wrapper-text{
		@include font-size(15);
		margin-left: 10px;
		color: white;
	}
	.searchform-wrapper-input{
		background-color: transparent;
		color: white;
		margin-bottom: 10px;
		border: none;
		border-bottom: 1px solid lightgrey;
		padding: 10px 20px;
		width: 100%;
		@include font-size(40);
		@include transition(border-color 0.25s ease);
		outline: none;
		z-index: 10;
		position: relative;
		height: 80px;
		@include placeholder{
			color: rgba(255,255,255,0.8);
		}
		&::-webkit-search-cancel-button{
			color: grey;
		}
	}
	.primarysite .searchform-wrapper-checkbox,
	.primarysite .searchform-wrapper-text{
		display: none;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.searchform-closewrapper-close{
		@include font-size(60);
	}
	.searchform-wrapper-input{
		@include font-size(80);
	}
}
