@media only screen {
	.singletitle{
		min-height: 100vh;
	}
	.singletitle-container-description{
		@include font-size(22);
		margin: 20px 0;
		line-height: 1.75;
		font-style: italic;
	}
	.singletitle-container-titledate-title{
		font-weight: 600;
		@include font-size(24);
		display: inline-block;
	}
	.singletitle-container-titledate-date{
		margin-top: 10px;
		@include font-size(16);
	}

	.sliderheader{
		margin: 40px 0 20px 0;
		@include font-size(40);
		font-weight: 700;
	}
	.slider{
		width: 100%;
		margin-bottom: 20px;
	}
	.slider-slide{
		width: 100%;
		height: 250px;
		display: block;
		margin-bottom: 10px;
	}
	.slider-slide-image{
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 250px;
	}
}

@media only screen and (min-width: $medium){
	.slider{
		margin-left: -4px;
		margin-right: -4px;
		text-align: left;
	}
	.slider-slide{
		display: inline-block;
		width: 50%;
		padding: 4px;
		margin-bottom: 0px;
	}
}

@media only screen and (min-width: $large){
	.singletitle-container-description{
		@include font-size(32);
	}
	.singletitle-container-titledate-date{
		margin-left: 40px;
		margin-top: 0;
		display: inline-block;
	}
}
