@media only screen {
	#ctf svg:not(:root).svg-inline--fa, 
	#ctf_lightbox svg:not(:root).svg-inline--fa{
		@include font-size(11);
	}
	.thestacksgrid{
		width: 100%;
		padding: 20px;
		text-align: center;
		margin-top: 80px;
	}	
	.thestacksgrid-inpagenav{
		display: none;
	}
	.thestacksgrid-main-grid-post{
		margin-bottom: 40px;
	}
	.thestacksgrid-main-grid-post-textcontainer{
		margin-top: 5px;
	}
	.thestacksgrid-main-grid-post-textcontainer-featured,
	.thestacksgrid-main-grid-post-textcontainer-categories-category{
		text-transform: uppercase;
		font-weight: 400;
		@include font-size(14);
		text-decoration: none;
		color: $stacksgrey;	
	}
	.thestacksgrid-main-grid-post-textcontainer-categories-category{
		padding-right: 10px;
	}
	.thestacksgrid-main-grid-post-textcontainer-title{
		display: block;
		@include font-size(24);
		color: black;
		margin: 5px 0px;
		text-decoration: none;
		font-weight: 900;
	}
	.thestacksgrid-main-grid-post-textcontainer-author{
		text-decoration: none;
		font-weight: 400;
		@include font-size(15);
		color: $stacksgrey;	
	}
	.thestacksgrid-main-grid-post-textcontainer-description{
		margin-top: 15px;
		line-height: 1.5;
		@include font-size(16);
		font-weight: normal;
	}
	.thestacksgrid-main-grid-post-textcontainer-share{
		margin-top: 10px;
	}
	.thestacksgrid-main-grid-post-textcontainer-share-link{
		font-size: 1.6rem;
		text-decoration: none;
		color: black;
		display: inline-block;
		margin-right: 10px;
	}
	.thestacksgrid-main-grid-post-textcontainer-tags{
		margin: 15px -5px 15px -5px;
	}
	.thestacksgrid-main-grid-post-textcontainer-tags-tag{
		padding: 8px 12px;
		color: black;
		text-decoration: none;
		background-color: lightgrey;
		text-transform: uppercase;
		@include font-size(12);
		margin: 5px;
		display: inline-block;
	}
	.thestacksgrid-main-grid-post-imagecontainer-image{
		max-width: 100%;
		max-height: 300px;
	}
	.thestacksgrid-main-grid-dots{
		display: none;
	}
}

@media only screen and (min-width: $medium){
	.thestacksgrid{
		padding: 40px;
	}
	.thestacksgrid-main-grid-post{
		font-size: 0;
		@include transform(rotate(180deg));
	}
	.thestacksgrid-main-grid-post-imagecontainer,
	.thestacksgrid-main-grid-post-textcontainer{
		display: inline-block;
		width: 50%;
		vertical-align: bottom;
		@include transform(rotate(180deg));
	}
	.thestacksgrid-main-grid-post-textcontainer{
		text-align: left;
		padding-right: 20px;
	}
}

@media only screen and (min-width: $large){
	.thestacksgrid{
		width: 100%;
		font-size: 0;
		max-width: 1320px;
		margin: 80px auto 0px auto;
		padding: 40px 0;
	}
	.thestacksgrid-inpagenav{
		display: inline-block;
		width: 20%;
		vertical-align: top;
		text-align: left;
	}
	.thestacksgrid-inpagenav-categories{
		margin-bottom: 20px;
	}
	.thestacksgrid-inpagenav-categories-header,
	.thestacksgrid-inpagenav-twitter-header{
		@include font-size(24);
		margin-bottom: 10px;
	}
	.thestacksgrid-inpagenav-twitter-feed{
		padding-right: 20px;
		text-align: left;
	}
	.thestacksgrid-inpagenav-categories-list-item{
		display: block;
		padding: 5px 0;
		color: black;
		text-decoration: none;
		text-transform: uppercase;
		@include font-size(15);
		font-weight: normal;
	}
	.thestacksgrid-main{
		display: inline-block;
		width: 80%;
	}
	.thestacksgrid-main-grid-post{
		@include transform(rotate(0deg));
	}
	.thestacksgrid-main-grid-post-imagecontainer,
	.thestacksgrid-main-grid-post-textcontainer{
		@include transform(rotate(0deg));
	}
	.thestacksgrid-main-grid-post-textcontainer{
		vertical-align: top;
		padding-right: 0px;
		padding-left: 20px;
	}
	.thestacksgrid-main-grid.featured{
		position: relative;
		height: 600px;
		@include transform(height 0.2s ease);
		margin-bottom: 100px;
		.thestacksgrid-main-grid-post{
			position: absolute;
		}
	}
	.thestacksgrid-main-grid:not(.featured){
		font-size: 0;
		margin-left: -10px;
		margin-right: -10px;
		.thestacksgrid-main-grid-post{
			width: 25%;
			display: inline-block;
			vertical-align: top;
			padding: 10px;
		}
		.thestacksgrid-main-grid-post-textcontainer,
		.thestacksgrid-main-grid-post-imagecontainer{
			display: block;
			width: 100%;
		}
		.thestacksgrid-main-grid-post-textcontainer{
			padding-left: 0px;
		}
	}
	.thestacksgrid-main-grid-dots{
		text-align: center;
		position: relative;
		display: block;
	}
	.thestacksgrid-main-grid-dots-dot{
		height: 10px;
		width: 10px;
		margin: 0px 10px;
		background-color: grey;
		opacity: 0.5;
		border-radius: 100%;
		cursor: pointer;
		@include transition(opacity 0.4s ease);
		&.active{
			opacity: 1;
		}
		display: inline-block;
	}
}






























