@media only screen {
	.ctf-header,
	.ctf-more{
		display: none;
	}
	.ctf-tweet-content{
		@include font-size(14);
	}
	#ctf a{
		color: black;
	}
	#ctf p.ctf-tweet-text, #ctf p.ctf-media-link{
		font-weight: 400;
		color: $stacksgrey;
	}
	#ctf .ctf-retweet,
	#ctf .ctf-like{
		i{
			@include font-size(12);
			position: relative;
			bottom: 5px;
		}
	}
	#ctf .ctf-tweet-actions{
		margin: 16px 0;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
