@media only screen {
	.wysiwyg{
		min-height: calc(100vh - 182px);
	}
	.wysiwyg-content{
		p{
			margin: 10px 0;
		}
		a{
			color: darken($momared, 15%);
			@include transition(color 0.5s ease);
			&:visited{
				color: lightbrown;
			}
			&:hover{
				color: darken($momared, 30%);
			}
		}
		img{
			max-width: 100%;
			height: auto;
		}
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
