@media only screen {
	.contact{
		max-width: 684px;
		margin: 120px auto 60px auto;
		position: relative;
	}
	.contact-wrapper-header{
		margin: 20px 0 10px 0;
	}
	.contact-wrapper-form-email,
	.contact-wrapper-form-submit{
		@include font-size(16);
		outline-color: $momared;
	}
	.contact-wrapper-form-email{
		padding: 5px 10px;
		border: 1px solid lightgrey;
	}
	.contact-wrapper-form-submit{
		-webkit-appearance: none;
		border: 2px solid black;
		padding: 6px 10px;
		background-color: black;
		color: white;
		@include font-size(13);
		position: relative;
		bottom: 1px;
		letter-spacing: 1px;
	}
	.contact-wrapper-messages{
		margin-top: 20px;
		padding: 10px 20px;
		&.error{
			color: $momared;
			background-color: lighten($momared, 30%);
			border-left: 3px solid $momared;
		}
		&.success{
			color: $momagreen;
			background-color: lighten($momagreen, 50%);
			border-left: 3px solid $momagreen;	
		}
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
