@media only screen {
	.ui-datepicker-calendar {
	    font-size: 12px;
	    text-align: center;
	    width: 100%;
	    margin: 16px 0 0 0;
	    td a {
	    	text-align: center;
	    }
	}
	.ui-datepicker-calendar th {
	    font-family: $mainfont;
	    font-variant-numeric: lining-nums;
	    -moz-font-feature-settings: "lnum" 1;
	    -ms-font-feature-settings: "lnum" 1;
	    -o-font-feature-settings: "lnum" 1;
	    -webkit-font-feature-settings: "lnum" 1;
	    font-feature-settings: "lnum" 1;
	    font-weight: bold;
	    color: #8c9898
	}
	.ui-datepicker-calendar td,
	.ui-datepicker-calendar th {
	    padding: 6px 3px 3px 3px;
	    text-align: center
	}
	.ui-datepicker-calendar td a {
	    color: #39494c;
	    font-family: $mainfont;
	    font-weight: bold;
	}
	.ui-datepicker-calendar td.active a,
	.ui-datepicker-calendar td:hover a {
	    color: #ff483b
	}
	.ui-datepicker-calendar td.ui-datepicker-current-day a,
	.ui-datepicker-calendar td.active a {
	    color: #ff483b
	}
	.ui-datepicker-inline{
		width: auto;
	}
	.ui-datepicker-header .ui-datepicker-title {
	    font-family: $mainfont;
	    font-weight: bold;
	    font-size: 21px;
	    line-height: 28px;
	    margin-top: 24px;
	    margin-bottom: 24px;
	    color: #39494c;
	    margin: 0!important;
	    text-align: center
	}
	.ui-datepicker-prev,
	.ui-datepicker-next {
	    font-family: 'sfmoma-icons' !important;
	    speak: none;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    display: inline-block;
	    color: #39494c;
	    font-size: 22px;
	    line-height: 28px
	}
	.ui-datepicker-prev {
	    float: left
	}
	.ui-datepicker-prev:before {
	    content: "\e605"
	}
	.ui-datepicker-next {
	    float: right
	}
	.ui-datepicker-next:before {
	    content: "\e606"
	}
	.ui-datepicker-prev,
	.ui-datepicker-next{
		cursor: pointer;
		&:hover{
			border: none;
		}
		span.ui-icon{
			display: none;
		}
		&:before{
			@include centerer;
		}
	}
	.ui-widget-header{
		background-color: transparent;
		border: none;
	}
	.ui-widget.ui-widget-content{
		background-color: transparent;
		border: none;
		.ui-state-active{
			color: $momared;
			font-weight: bold;
			&:after{
				width: 24px;
				border-color: $momared;
			}
		}
		.ui-state-default{
			text-align: center;
			border: none;
			@include font-size(16);
			padding: 0 6px;
			@include transition(color 0.4s ease);
			&:after{
				@include transition(border-color 0.4s ease, width 0.4s ease);
			}
		}
		.ui-state-hover,
		.ui-state-highlight,
		.ui-state-default{
			background-color: transparent;
		}
	}
	.clickable{ 
		.ui-state-default{
			&:after{
				border-bottom: 2px solid black;
				width: 14px;
				margin: 0 auto;
				content: '';
				display: block;
				top: 5px;
				position: relative;
			}
		}
		&:hover{
			.ui-state-default{
				&:after{
					border-color: $momared;
					width: 24px;
				}
			}
		}
	}
	.ui-datepicker-calendar td, .ui-datepicker-calendar th {
	    padding: 1.2rem 1rem;
	    text-align: center;
	}
}

@media only screen and (min-width: $medium){
	.ui-widget.ui-widget-content{
		.ui-state-default{
			@include font-size(24);
			padding: 0 16px;
		}
	}
	.ui-datepicker-calendar td, .ui-datepicker-calendar th {
	    padding: 1.2rem .5rem;
	    text-align: center;
	}
}

@media only screen and (min-width: $large){
	.ui-widget.ui-widget-content{
		td,
		th{
			padding: 1.2rem 1rem;
			text-align: center;
		}
	}	
	.ui-widget.ui-widget-content td, .ui-widget.ui-widget-content th {
	    padding: 1.5rem .5rem;
	    text-align: center;
	}
}
