@media only screen {
	.docs-logo{
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));
		max-height: 100px;
		width: auto;
	}
	.docs-header{
		text-align: center;
		@include font-size(32);
		&:not(:first-child){
			margin-top: 60px;
			margin-bottom: 20px;
		}
	}
	.docs-subheader{
		font-weight: 400;
		margin-top: 20px;
		@include font-size(18);
		text-align: center;
		&:not(:first-child){
			margin-bottom: 10px;
		}
	}
	.docs-microheader{
		text-align: center;
		margin: 10px 0;
	}
	.docs-content{
		padding: 0 20px;
		li{
			padding: 40px 0 10px 0;
		}
		p{
			padding: 10px 0;
		}
		img{
			width: 100%;
			max-width: 641px;
		}
	}
	ol.indent{
		margin-left: 20px;
		li{
			padding: 5px 0;
		}
	}
}

@media only screen and (min-width: $medium){
	.docs-content{
		padding: 0 40px;
	}
}

@media only screen and (min-width: $large){
	.docs-content{
		img{
			width: auto;
			max-width: 100%;
			height: auto;
		}
	}
}

@media only screen and (min-width: $xlarge){
	.docs{
		max-width: 1025px;
	}
}
