@font-face {
  font-family: 'SFMOMA Display';
  src: url('../../library/fonts/SFMOMADisplayBold.eot'); /* IE9 Compat Modes */
  src: url('../../library/fonts/SFMOMADisplayBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../library/fonts/SFMOMADisplayBold.woff') format('woff'), /* Modern Browsers */
       url('../../library/fonts/SFMOMADisplayBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../library/fonts/SFMOMADisplayBold.svg#6c3a3f2e6b9d22ce671c3e739c0b41ea') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'SFMOMA Display';
  src: url('../../library/fonts/SFMOMADisplayHeavy.eot'); /* IE9 Compat Modes */
  src: url('../../library/fonts/SFMOMADisplayHeavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../library/fonts/SFMOMADisplayHeavy.woff') format('woff'), /* Modern Browsers */
       url('../../library/fonts/SFMOMADisplayHeavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../library/fonts/SFMOMADisplayHeavy.svg#dc371ce223f25cbf53c1a2b422bc185a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  900;
}

@font-face {
  font-family: 'SFMOMA Display';
  src: url('../../library/fonts/SFMOMADisplayLight.eot'); /* IE9 Compat Modes */
  src: url('../../library/fonts/SFMOMADisplayLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../library/fonts/SFMOMADisplayLight.woff') format('woff'), /* Modern Browsers */
       url('../../library/fonts/SFMOMADisplayLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../library/fonts/SFMOMADisplayLight.svg#bdee47c70d9cc90aa8a22da43db65eb9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'SFMOMA Display';
  src: url('../../library/fonts/SFMOMADisplayMedium.eot'); /* IE9 Compat Modes */
  src: url('../../library/fonts/SFMOMADisplayMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../library/fonts/SFMOMADisplayMedium.woff') format('woff'), /* Modern Browsers */
       url('../../library/fonts/SFMOMADisplayMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../library/fonts/SFMOMADisplayMedium.svg#6577a1cf6216792258fb9503cfcd28c1') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'SFMOMA Display';
  src: url('../../library/fonts/SFMOMADisplayRegular.eot'); /* IE9 Compat Modes */
  src: url('../../library/fonts/SFMOMADisplayRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../library/fonts/SFMOMADisplayRegular.woff') format('woff'), /* Modern Browsers */
       url('../../library/fonts/SFMOMADisplayRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../library/fonts/SFMOMADisplayRegular.svg#10e30e88397ba58545c5584850be251f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'SFMOMA Text';
  src: url('../../library/fonts/SFMOMATextBold.eot'); /* IE9 Compat Modes */
  src: url('../../library/fonts/SFMOMATextBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../library/fonts/SFMOMATextBold.woff') format('woff'), /* Modern Browsers */
       url('../../library/fonts/SFMOMATextBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../library/fonts/SFMOMATextBold.svg#d43b17a48bbbeb7925ed6d1007a1f419') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'SFMOMA Text';
  src: url('../../library/fonts/SFMOMATextBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../../library/fonts/SFMOMATextBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../library/fonts/SFMOMATextBoldItalic.woff') format('woff'), /* Modern Browsers */
       url('../../library/fonts/SFMOMATextBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../library/fonts/SFMOMATextBoldItalic.svg#563748864a11dce36ca86053e16cca40') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'SFMOMA Text';
  src: url('../../library/fonts/SFMOMATextRegular.eot'); /* IE9 Compat Modes */
  src: url('../../library/fonts/SFMOMATextRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../library/fonts/SFMOMATextRegular.woff') format('woff'), /* Modern Browsers */
       url('../../library/fonts/SFMOMATextRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../library/fonts/SFMOMATextRegular.svg#687a1a26a631bb1b3a8bfb835b459be9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'SFMOMA Text';
  src: url('../../library/fonts/SFMOMATextRegularItalic.eot'); /* IE9 Compat Modes */
  src: url('../../library/fonts/SFMOMATextRegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../library/fonts/SFMOMATextRegularItalic.woff') format('woff'), /* Modern Browsers */
       url('../../library/fonts/SFMOMATextRegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../library/fonts/SFMOMATextRegularItalic.svg#9f7b88333190c01c4149070694132033') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'sfmoma-icons';
  src: url('../../library/fonts/sfmoma-icons.eot'); /* IE9 Compat Modes */
  src: url('../../library/fonts/sfmoma-icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../library/fonts/sfmoma-icons.woff') format('woff'), /* Modern Browsers */
       url('../../library/fonts/sfmoma-icons.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../library/fonts/sfmoma-icons.svg#f8ebd6eaf3a89532e1347ec99e7303d6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

.sficon{
  font-family: 'sfmoma-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sficon-arrow-circled-down:before {
  content: "\e600";
}
.sficon-arrow-circled-left:before {
  content: "\e601";
}
.sficon-arrow-circled-right:before {
  content: "\e602";
}
.sficon-arrow-circled-up:before {
  content: "\e603";
}
.sficon-arrow-down:before {
  content: "\e604";
}
.sficon-arrow-left:before {
  content: "\e605";
}
.sficon-arrow-right:before {
  content: "\e606";
}
.sficon-arrow-up:before {
  content: "\e607";
}
.sficon-carousel:before {
  content: "\e608";
}
.sficon-cart:before {
  content: "\e609";
}
.sficon-close:before {
  content: "\e60a";
}
.sficon-download-app:before {
  content: "\e60b";
}
.sficon-download:before {
  content: "\e60c";
}
.sficon-email:before {
  content: "\e60d";
}
.sficon-fullscreen-enter:before {
  content: "\e60e";
}
.sficon-fullscreen-exit:before {
  content: "\e60f";
}
.sficon-info:before {
  content: "\e610";
}
.sficon-list:before {
  content: "\e611";
}
.sficon-location:before {
  content: "\e612";
}
.sficon-menu:before {
  content: "\e613";
}
.sficon-refresh-ccw:before {
  content: "\e614";
}
.sficon-refresh:before {
  content: "\e615";
}
.sficon-search:before {
  content: "\e616";
}
.sficon-share:before {
  content: "\e617";
}
.sficon-thumbnails:before {
  content: "\e618";
}
.sficon-user:before {
  content: "\e619";
}
.sficon-zoom-in:before {
  content: "\e61a";
}
.sficon-zoom-out:before {
  content: "\e61b";
}
.sficon-zoom:before {
  content: "\e61c";
}
.sficon-folder:before {
  content: '\e800';
}
.sficon-file:before {
  content: '\e801';
}
.sficon-dotdotdot:before {
  content: '\e802';
}
.sficon-logo-full:before {
  content: '\e803';
}
.sficon-facebook-square:before {
  content: '\f082';
}
.sficon-twitter:before {
  content: '\f099';
}
.sficon-facebook:before {
  content: '\f09a';
}
.sficon-instagram:before {
  content: '\f16d';
}
.sficon-tumblr:before{
  content: '\f173';
}