@media only screen {
	.section{
		max-width: 1025px;
		margin: 0 auto;
		padding: 40px 20px;
	}
	.fade{
		opacity: 0;
	}
	.mainBackgroundColor{
		padding-top: 50px;
		background-color: #f8f8f8;
	}
	.copy-message{
		background-color: $green;
		color: white;
		text-align: center;
		position: fixed;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		padding: 50px;
		opacity: 1;
		@include font-size(18);
		box-shadow: 0px 7px 22px rgba(0,0,0,0.35);
	}
	.copy-message-text{
		text-shadow: 0px 3px 5px rgba(0,0,0,0.25);
		i{
			@include font-size(24);
			display: block;
			margin-bottom: 10px;
		}
	}
	.seemore{
		display: inline-block;
		position: absolute;
		left: 50%;
		@include transform(translateX(-50%));
		text-align: center;
	}
	.seemore-loader{
		margin-bottom: 10px;
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}
	.seemore-button{
		text-transform: uppercase;
		padding: 10px 20px;
		font-weight: bold;
		border: 2px solid black;
		@include font-size(14);
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		z-index: 10;
		width: 130px;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.section{
		padding: 80px 40px;
	}
	.mainBackgroundColor{
		// padding-top: 0px;
	}
	.copy-message-text i{
		display: inline-block;
		margin-bottom: 0px;
	}
	
}
@media only screen and (min-width: $xlarge){
	.section{
		max-width: 1300px;
	}
}