@media only screen {
	.people{
		max-width: $os_breakpoint;
		margin: 130px auto;
		color: $headergrey;
		padding: 0px 20px;
	}
	.people-hero{
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
		margin-bottom: 20px;
	}
	.people-group-list{
		padding: 20px 0px 40px 0px;
	}
	.people-group-list-item{
		padding: 10px 0px;
	}
	.people-group-list-item-textcontainer{
		padding-top: 10px;
	}
	.people-group-list-item-textcontainer-text-name{
		color: $headergrey;
		font-weight: bold;
	}
	.people-group-list-item-imagecontainer-image{
		width: auto;
		heigth: auto;
		max-width: 100%;
		max-height: 100%;
	}
}

@media only screen and (min-width: $medium){
	.people-group-list-item{
		font-size: 0;
	}
	.people-group-list-item-textcontainer,
	.people-group-list-item-imagecontainer{
		display: inline-block;
		@include font-size(16);
		vertical-align: top;
	}
	.people-group-list-item-textcontainer{
		width: 60%;
		padding-top: 0px;
		padding-left: 10px;
	}
	.people-group-list-item-imagecontainer{
		width: 40%;
		padding-right: 10px;
	}
}

@media only screen and (min-width: $large){
	
}
