@media only screen {	
	.section{
		padding: 20px;
		ul{
			list-style-position: inside;
		}
	}
	.section-header{
		font-weight: 400;
		@include font-size(30);
		margin-bottom: 20px;
		text-align: center;
	}
	.section-subheader{
		@include font-size(14);
		margin-bottom: 20px;
	}
	.section-grid-item{
		padding: 40px 20px;
		margin-bottom: 20px;
		max-width: 463.375px;
	    width: 100%;
	    margin: 0 auto;
	    &:not(:last-child){
			border-bottom: 1px solid lightgrey;
		}
	}
	.section-grid-item-header a,{
		font-weight: 400;
		color: $bluegrey;
		margin-bottom: 10px;
		line-height: $lineheight;
		@include font-size(24);
		text-decoration: none;
		@include transition(color 0.4s ease);
	}
	.section-grid-item-header{
		margin-bottom: 20px;
		&:hover{
			a{
				color: $momared;
			}
		}
	}
	.section-grid-item-subheader{
		font-weight: normal;
		color: $darkgrey;
		margin-top: -10px;
		margin-bottom: 20px;
	}
	.section-grid-item-content{
		line-height: $lineheight;
		@include font-size(16);
		img,
		iframe{
			width: 100%;
			padding: 10px 0;
			height: auto;
		}
		iframe{
			max-width: 640px;
			height: 200px;
		}
		ul{
			padding: 10px 0;
		}
		p{
			padding: 5px 0;
		}
		a{
			color: black;
			@include transition(color 0.4s ease);
			&:hover{
				color: $momared;
			}
		}
	}
	.section-grid-item-postmeta{
		margin-top: 10px;
		@include font-size(16);
		a{
			background-color: rgba(0,0,0,0.1);
		    color: rgb(128,128,128);
		    border-radius: 3px;
		    display: inline-block;
		    margin-left: 3px;
		    margin-bottom: 3px;
		    text-decoration: none;
		    padding: 5px 10px;
		    text-transform: uppercase;
		    @include font-size(12);
		}
	}
}

@media only screen and (min-width: $medium){
	.section-grid-item-content{
		iframe{
			height: 420px;
		}
	}
}

@media only screen and (min-width: $large){
	.section-grid-item{
		max-width: 561.375px;
	}
}
