// breakpoints

$medium: 641px;
$os_breakpoint: 684px;
$large: 1025px;
$xlarge: 1300px;

// colors
$momared: #f14a47;
$momagreen: #21a721;
$offwhite: rgb(250, 251, 248);
$textgrey: #444444;
$bluegrey: #394a4c;
$darkgrey: #8c9898;
$headergrey: #44494C;
$green: #41a944;
$stacksgrey: rgb(99, 102, 105);

// fonts 
$mainfont: 'SFMOMA Display', helvetica, verdana, sans-serif;
$lineheight: 1.5;

// misc. vars
$navTransitionSpeed : 0.3s;