//////////////////////////
// global & reset stuff //
//////////////////////////

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

@import "../js_vendor/jquery-ui/jquery-ui";
@import "../js_vendor/jquery-ui/jquery-ui-structure";

@import "fonts", "vars", "mixins", "baguettebox";

@import "section";

html,body{
	width: 100%;
	height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
	outline: none;
}
html{
	font-size: 62.5%; // base 10 for fonts
	font-family: $mainfont;
	overflow-x: hidden;
}
body{
	font-size: 1.6rem;
	@include transition(opacity 1s ease);
	background-color: #f8f8f8;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

h1,h2,h3,h4,h5,h6,p{
	color: $headergrey;
}

@import "global";
@import "modules/searchform";
@import "modules/nav";
@import "modules/homehero";
@import "modules/homespacer";
@import "modules/grid";
@import "modules/bloggrid";
@import "modules/about";
@import "modules/search";
@import "modules/raw";
@import "modules/wysiwyg";
@import "modules/single";
@import "modules/footer";
@import "modules/events";
@import "modules/eventsingle";
@import "datepicker";
@import "modules/calendar";
@import "modules/thestacksgrid";
@import "modules/archive";
@import "modules/twitterfeed";
@import "modules/inpagenav-nav";
@import "modules/general";
@import "docs";
@import "contact";
@import "people";